.notfound {
background: #ffffff;
height: 80vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
    h1 {
        color: #020202;
        font-weight: bolder;
        font-size: 5em;
        margin: 0;
        outline: none;
        padding: 0;
        position: relative;
    }

}